.entry.editor {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;

	fieldset {
		display: flex;
		flex-direction: column;
	}

	textarea {
		width: 100%;
	}

	.description textarea {
		height: 5em;
	}

	.text.content textarea {
		height: 15em;
	}
}
