@using System.Globalization
@using Simpler.Net.Time
<!DOCTYPE html>
<html>
<head>
	<title>Diary</title>
	
	<link rel="stylesheet" href="~/themes/base/theme.min.css" />
	
	<!-- jQuery -->
	<script src="~/libs/jquery/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap DatePicker -->
	<link rel="stylesheet" href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css"/>
	<script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<script>
		$(function() {
			$.fn.datepicker.defaults.format = $("#CultureInfoDataBlock").data("bootstrap-datepicker-format");
			$.fn.datepicker.defaults.weekStart = $("#CultureInfoDataBlock").data("week-start-day");
			$.fn.datepicker.defaults.todayHighlight = true;
			$.fn.datepicker.defaults.startDate = $("#CultureInfoDataBlock").data("unix-epoch");
		})
	</script>

</head>
<body>

<header>
	
</header>

<main>
	@RenderBody()
</main>

<footer>
	
	<section id="DataBlocks">
		<input type="hidden" id="CultureInfoDataBlock"
		       data-bootstrap-datepicker-format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.Replace("M", "m")"
		       data-week-start-day="@((int) CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek)"
		       data-unix-epoch="@SimplerTime.UnixEpochStart.ToShortDateString()"/>
	</section>
</footer>

</body>
</html>