.entry.display {
	display: flex;
	flex-direction: column;
	padding: $padding;

	header {
		display: flex;
		flex-direction: row;
		padding: $padding;
		display: flex;
		align-items: center;

		h1 {
			flex-grow: 1;
			font-size: 1.25em;
			margin: 0;
		}
	}

	.content {
		padding: $padding;
	}

	footer {
		width: 100%;
	}

	&.text {
		.content {
			text-align: justify;
			@include typed-font();
		}
	}

	&.image.file {
		.content {
			text-align: center;
			display: flex;
			flex-direction: column;

			img, .description {
				margin: auto;
			}

			.description {
				@include typed-font();
			}


			img {
				max-height: $medium-image-max-size;
				max-width: $medium-image-max-size;
			}

			.description {
				text-align: justify;
			}
		}
	}
}
