.entry {
	display: flex;
	flex-direction: row;
	padding: $spacing;
	width: $entry-width;

	header {
		flex-shrink: 0;
		padding: $spacing;
		display: flex;
		flex-direction: column;
	}

	.content {
		padding: $spacing;
		text-align: justify;

		img {
			width: 100%;
			height: auto;
		}
	}
}
