@using Diary.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Simpler.Net.Time
@model Diary.Api.Dtos.EntryModel

@inject IViewLocalizer Localizer

@{
	this.Layout = "_Layout";
}

<h2>Entry</h2>

<article>
	<header>
		@Html.DisplayFor(m => m.Timestamp)
	</header>
	@Model.Description
	<footer>
		<a class="button" href="@Url.Action(nameof(EntriesController.List))">@Localizer["Close"]</a>
	</footer>
</article>