@using Diary.Api.Dtos
@using Diary.Web.Controllers
@using Diary.Web.ViewModels
@using Simpler.Net.Time
@model EntriesIndexViewModel
@{
	Layout = "_Layout";
}

<h1>Entries</h1>
<a href="@this.Url.Action(nameof(EntriesController.New))">New</a>

<ol class="entry-list">
	@foreach (EntryOutputDto entry in Model.Entries) {
		<li>
			@Html.Partial("DisplayTemplates/Entry", entry)
		</li>
	}
</ol>
