@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.eot');
  src: url('/fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville'),
       local('Libre-Baskerville-regular'),
       url('/fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.woff2') format('woff2'),
       url('/fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.woff') format('woff'),
       url('/fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.ttf') format('truetype'),
       url('/fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.svg#LibreBaskerville') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Libre-Baskerville-700/Libre-Baskerville-700.eot');
  src: url('/fonts/Libre-Baskerville-700/Libre-Baskerville-700.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville Bold'),
       local('Libre-Baskerville-700'),
       url('/fonts/Libre-Baskerville-700/Libre-Baskerville-700.woff2') format('woff2'),
       url('/fonts/Libre-Baskerville-700/Libre-Baskerville-700.woff') format('woff'),
       url('/fonts/Libre-Baskerville-700/Libre-Baskerville-700.ttf') format('truetype'),
       url('/fonts/Libre-Baskerville-700/Libre-Baskerville-700.svg#LibreBaskerville') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Libre-Baskerville-italic/Libre-Baskerville-italic.eot');
  src: url('/fonts/Libre-Baskerville-italic/Libre-Baskerville-italic.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville Italic'),
       local('Libre-Baskerville-italic'),
       url('/fonts/Libre-Baskerville-italic/Libre-Baskerville-italic.woff2') format('woff2'),
       url('/fonts/Libre-Baskerville-italic/Libre-Baskerville-italic.woff') format('woff'),
       url('/fonts/Libre-Baskerville-italic/Libre-Baskerville-italic.ttf') format('truetype'),
       url('/fonts/Libre-Baskerville-italic/Libre-Baskerville-italic.svg#LibreBaskerville') format('svg');
}

